@page
@model MyPersonasFrontEnd.Pages.CreateTestModel
@{
}

<form method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="@Model.myTests.Id" type="hidden" />
    <div class="form-group">
        <label class="col-md-2 control-label">Test Date</label>
        <div class="col-md-10">
            <date asp-for="@Model.myTests.DateTaken" class="form-control"></date>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Test Type</label>
        <div class="col-md-10">
            <select name="Test type" id="type">
                <option value="MBTI" asp-for="@Model.myTests.Type" class="form-control">MBTI</option>
                <option value="Jung" asp-for="@Model.myTests.Type" class="form-control">Jung</option>
                <option value="Big 5" asp-for="@Model.myTests.Type" class="form-control">Big 5</option>

            </select>
            
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">State of Test</label>
        <div class="col-md-10">
            <input asp-for="@Model.myTests.TestState" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete</button>
        </div>
    </div>
</form>
