@page


@model StartTestModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

    int counter = 0;
    string rdgname = "Choice";
    string rdgAgreeID = "Agree";
    string rdgDisagreeID = "Disagree";
    string rdgNeutralID = "Neutral";

    void DirectToResults()
    {
        RedirectToPage("/Results");
    }


}

@if (Model.ShowMessage)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
        @Model.Message
    </div>
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
</ol>

<h3>Start Test</h3>

<form method="post" class="form-horizontal">
    @foreach (var q in Model.quest)
    {
        counter = counter + 1;
        rdgname = "Choice" + counter.ToString();
        rdgAgreeID = "Agree" + counter.ToString();
        rdgDisagreeID = "Disagree" + counter.ToString();
        rdgNeutralID = "Neutral" + counter.ToString();

        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="@q.Id" type="hidden" readonly />
        <div class="form-group">
            <label class="row">@q.Number<text>.</text>&nbsp; @q.Question</label>
            <input type="radio" asp-for="questions.Answer" id=@rdgDisagreeID name=@rdgname value="@q.Answer" />
            <label for="QDisagree">Disagree</label><br>
            <input type="radio" asp-for="questions.Answer" id=@rdgNeutralID name=@rdgname value="@q.Answer" />
            <label for="QNeutral">Neutral</label><br>
            <input type="radio" asp-for="questions.Answer" id=@rdgAgreeID name=@rdgname value="@q.Answer" />
            <label for="QAgree">Agree</label><br>
        </div>


    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </div>



</form>







