@page 

@model StartTestModel
@{

    int count = 0;

}

<h3>Start Test</h3>

<form method="post" class="form-horizontal">



    @foreach (var q in Model.quest)
    {
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label class="row">@q.Number<text>.</text>&nbsp; @q.Question</label>


            <input type="radio" id="QDisagree" name="Choice" value="Disagree" bind="@q.Answer">
            <label for="QDisagree">Disagree</label><br>
            <input type="radio" id="QNeutral" name="Choice" value="Neutral" bind="@q.Answer">
            <label for="QNeutral">Neutral</label><br>
            <input type="radio" id="QAgree" name="Choice" value="Agree" bind="@q.Answer">
            <label for="QAgree">Agree</label><br>
        </div>
    }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Submit</button>
               
            </div>
        </div>
    


</form>





