@page 

@model StartTestModel
@{

    int counter = 0;
    string rdgname = "Choice";
    string rdgAgreeID = "Agree";
    string rdgDisagreeID = "Disagree";
    string rdgNeutralID = "Neutral";
}

<h3>Start Test</h3>

<form method="post" class="form-horizontal">
    @foreach (var q in Model.quest)
    {
        counter = counter + 1;
        rdgname = "Choice" + counter.ToString();
        rdgAgreeID += counter.ToString();
        rdgDisagreeID += counter.ToString();
        rdgNeutralID += counter.ToString();

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label class="row">@q.Number<text>.</text>&nbsp; @q.Question</label>
            <input type="radio" id=@rdgDisagreeID name=@rdgname value="Disagree" bind="@q.Answer">
            <label for="QDisagree">Disagree</label><br>
            <input type="radio" id=@rdgNeutralID name=@rdgname value="Neutral" bind="@q.Answer">
            <label for="QNeutral">Neutral</label><br>
            <input type="radio" id=@rdgAgreeID name=@rdgname value="Agree" bind="@q.Answer">
            <label for="QAgree">Agree</label><br>
        </div>

        
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </div>



</form>







